body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.card {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;  /* 👈 THIS makes it downward */
    align-items: center;
    gap: 10px;
}

input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    width: 270px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}
